@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
*{
    font-family:'Roboto', sans-serif;
    
}
body{
      background: url(../img/water.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
height: auto;
}

.container{
position: relative;
margin-top: 20px;
width: 400px;
top: 80px;
border: 1px solid;
border-color: #e8e8e8;
border-radius: 5px;
}
.text-center{
    font-weight: bold;
    color: white;
}
#submit:hover{
  background-color: black;
  border-color: white;
}
.form-control{
  border: 1px solid;
    border-color: #080808;
}
label::after{
  content: "*";
  color: red;
}
label{
  font-weight: bold;
}
